<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    {% if title %}
      <title>{{ title }} - Mosk</title>
    {% else %}
      <title>Mosk</title>
    {% endif %}
    <meta name='description' content='Mosk (Mongo DB + Flask) User Portal'>
    <meta name='keywords' content='mosk, mongo db, flask, user portal'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Quicksand&display=swap'>

    <link href="{{ url_for('static', filename='css/default.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css'>
    <script defer src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>

    {% block meta %}
    {% endblock meta %}
  </head>
  <body>
    <header>
      <h1><a href="{{ url_for('gen.home') }}">Mosk User Portal</a></h1>

      <nav>
        {% if um.status() %}
          <a href="{{ url_for('users.account') }}">Account</a>
          <a href="{{ url_for('users.logout') }}">Logout</a>
        {% else %}
          <a href="{{ url_for('users.sign_up') }}">Sign Up</a>
          <a href="{{ url_for('users.login') }}">Login</a>
        {% endif %}
      </nav>
    </header>

    <main>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <p id='flash'>
        <span>{{ messages[0] }}</span>
        <span id='hide-flash'>&Cross;</span>
      </p>
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
