/* ERRORS */
#http-error {
  margin: 0 auto;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  #http-error {
    width: 80vw;
  }
}

@media screen and (min-width: 1366px) {
  #http-error {
    width: 50vw;
  }
}
