.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  padding: 20px;
}

div.field {
  width: 100%;
}

input[type='text'],
input[type='password'],
input[type='search'],
textarea {
  width: 100%;
  padding: 10px 20px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #fff;
  border: var(--grey) solid 1px;
}

textarea {
  height: 100px;
  resize: none;
  line-height: 1.6;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='search']:focus,
textarea:focus {
  outline: none;
  padding: 9px 19px;
  border: var(--blue) solid 2px;
}

input[type='checkbox']:focus {
  outline: 2px solid var(--blue);
}

input[type='text'].field-error,
input[type='password'].field-error,
textarea.field-error {
  padding: 9px 19px;
  border: var(--red) solid 2px;
}

input[type='checkbox'].field-error {
  outline: 2px solid var(--red);
}

div.field-error-desc {
  text-align: center;
  color: var(--red);
}

div.fields-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.link {
  color: var(--red);
}

@media screen and (min-width: 600px) {
  form {
    max-width: 400px;
    padding: 40px;
  }
}
