:root {
  --red: #d11a2a;
  --blue: #187890;
  --grey: #ccc;
}

body {
  font-family: Quicksand, ui-sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  height: 15vh;
}

nav ul {
  display: flex;
  align-items: center;
}

nav a {
  padding: 0.5rem 1rem;
  border-bottom: var(--grey) solid 1px;
}

nav a:hover {
  border-bottom: black solid 2px;
}

main {
  line-height: 2;
}

h2 {
  font-weight: normal;
}

.small {
  font-size: 14px;
}

.btn {
  padding: 10px 20px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  border: var(--grey) solid 1px;
}

.btn:hover,
.btn:focus {
  outline: none;
  cursor: pointer;
  padding: 9px 19px;
  border: var(--blue) solid 2px;
}

#flash {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 400px;
  margin-left: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--grey) solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--grey);
  background-color: #fff;
}

#hide-flash {
  margin-left: 20px;
  font-size: 20px;
  color: var(--red);
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
  }

  nav {
    margin: 0;
  }
}
