{% extends '_base.html' %}

{% block meta %}
  <link href="{{ url_for('users.static', filename='style.css') }}" rel='stylesheet' type='text/css'>
{% endblock meta %}

{% block content %}
  <section id='account'>
    {% if not um.get_user('verified') %}
    <div>
      <p>Your account is not verified.</p>
      <a href="{{ url_for('users.verify1') }}" class='btn'>Request a new verification link.</a>
    </div><br>
    {% endif %}

    <h2>Account</h2>
    <p>{{ um.get_user('email') }}</p><br>

    <div>
      <a href="{{ url_for('users.edit_account') }}" class='btn'>Edit</a>
      <a href="{{ url_for('users.delete1') }}" class='btn' id='danger'>Delete</a>
    </div>
  </section>
{% endblock content %}
